body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#tabla-personas{
    border-collapse: collapse;
}

#tabla-personas th{
    border-bottom: solid 1px #000;    
}

#tabla-personas td{
    border: solid 1px #000;    
}